@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }

  h1,
  h2 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  :focus-visible {
    outline: 3px solid #58A6FF;
    outline-offset: 3px;
  }
}
